.board {
  width: 650px;
  height: 650px;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  margin: 0 auto;

  background-image: url("../../assets/wood.jpg");
  background-size: cover;
  background-position: center;

  padding: 6px;
  border-radius: 12px;
  border: 3px solid #3b2614;

  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6), 0 15px 40px rgba(0, 0, 0, 0.7);
}

.row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.white {
  background-color: rgba(240, 217, 181, 0.422);
}

.black {
  background-color: rgba(181, 136, 99, 0.438);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
}
.cell:hover {
  filter: brightness(1.1);
  cursor: pointer;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
}

.piece {
  font-size: 54px;
  cursor: grab;
  user-select: none;

  filter: drop-shadow(0 6px 4px rgba(0,0,0,0.6));
  /* text-shadow:
    0 1px 0 #f8f5f563,
    0 2px 0 #fbfbfb00,
    0 4px 2px rgba(0,0,0,0.5); */

  transition:
    transform 220ms cubic-bezier(.2,.8,.2,1),
    filter 220ms ease;
}

.piece:active {
  transform: translateY(-10px) scale(1.12);
  filter: drop-shadow(0 16px 10px rgba(0,0,0,0.7));
}



.piece:hover {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.6));
}

.cdk-drag-preview {
  font-size: 38px;
}

.cdk-drag-placeholder {
  opacity: 0;
}
.turn {
  margin-bottom: 1px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
.game-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.captured {
  width: 110px;
  min-height: 600px;
  background-image: url("../../assets/wood.jpg");
  background-size: cover;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.captured h3 {
  margin-bottom: 8px;
  color: #fff;
  text-shadow: 0 2px 3px black;
}

.captured-piece {
  font-size: 42px;
  opacity: 0.9;
}

.captured-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
}



.cell.capturing .piece {
  animation: capture 0.25s ease forwards;
}

@keyframes capture {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.2) rotate(20deg);
    opacity: 0;
  }
}


.cell.valid {
  box-shadow: inset 0 0 0 3px rgba(0,255,0,0.4);
}

.cell.last-move {
  box-shadow: inset 0 0 0 3px rgba(255,215,0,0.6);
}


@keyframes pulse {
  0% {
    box-shadow: inset 0 0 0 3px rgba(0, 255, 0, 0.4);
  }
  50% {
    box-shadow: inset 0 0 0 5px rgba(0, 255, 0, 0.6);
  }
  100% {
    box-shadow: inset 0 0 0 3px rgba(0, 255, 0, 0.4);
  }
}
.scoreboard {
  width: 700px;
  margin: 10px auto 16px auto;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}

.score.white {
  color: #222;
}

.score.black {
  color: #000;
}
.score-diff {
  width: 700px;
  margin: 0 auto 12px auto;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.score-diff.white-adv {
  color: #1b5e20;
}

.score-diff.black-adv {
  color: #000;
}

